.container {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  background-color: grey;
  border: solid black;
  border-radius: 8px;
  width: 50vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  border: solid black;
  border-radius: 8px;
  width: 30vw;
}
button {
  margin: 10px;
  width: 100px;
}
