.container {
  display: flex;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  background-color: rgb(220, 220, 220);
  border: solid black;
  border-radius: 8px;
  width: 50vw;
}

.buttons {
  display: flex;
  flex-direction: column;
}
button {
  margin: 10px;
}
