.container {
  display: flex;
}

.wrapper {
  display: flex;
  background-color: rgb(220, 220, 220);
  border: solid black;
  border-radius: 8px;
  width: 80vw;
}

.buttons {
  display: flex;
  flex-direction: column;
}
